body {
   background-color: darkturquoise;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 150%;
}

.button {
   font-weight: bold;
   background-color: chocolate;
   color: yellow;
}

.number {
   background-color:gold;
}

h1 {
   color: blueviolet;
   border: 3px solid blue;
   background-color: antiquewhite;
}